body,
html {
  margin: 0;
  height: 100%;
}
.wrapper {
  background-image: linear-gradient(
    to bottom,
    #3a82ab,
    #409ab8,
    #54b1c0,
    #71c8c7,
    #94decc
  );
  height: 100%;
}
.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vw;
  background-image: url("./img/ground_mini.png");
  background-repeat: repeat;
}
.mario img {
  position: absolute;
  bottom: 37vw;
  height: 10vw;
  width: 10vw;
  -webkit-animation-name: moving;
  -webkit-animation-duration: 4s;
  animation-name: moving;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.castle {
  position: absolute;
  bottom: 12vw;
  right: 2vw;
  display: flex;
  justify-content: flex-end;
}
.castle img {
  height: 30vw;
  width: 30vw;
}

@keyframes moving {
  0% {
    transform: translateY(calc(250%));
  }
  100% {
    transform: translateX(55vw) translateY(calc(250%));
  }
}
